cask {{ .Config.Name | toLower | quote }} do
  version {{ .Tag | trimPrefix "v" | quote }}

  {{- range .MacOSDownloads }}

  {{- if .IsARM64 }}
  # MacOS ARM64 builds
  on_arm do
    sha256 "{{ .SHA256 }}"
    url "{{ .URL }}"
  end
  {{- end }}

  {{- if .IsIntel }}
  # MacOS Intel builds
  on_intel do
    sha256 "{{ .SHA256 }}"
    url "{{ .URL }}"
  end
  {{- end }}

  {{- end }}

  name {{ .Config.CaskDisplayName | quote }}
  desc {{ .Config.Description | quote }}
  homepage {{ .Config.GenerateURL | quote }}

  app {{ .Config.AppName | quote }}
  {{- if .Config.CaskBinary }}
  binary "#{appdir}/{{ .Config.AppName }}/Contents/MacOS/{{ .Config.Name }}", target: {{ .Config.Name | quote }}
  {{- end }}

  {{- with .Config.Caveats }}
  caveats <<~EOS{{ . | nindent 4 }}
  EOS
  {{- end }}
end

# The following cache data is used by tapgen to avoid re-downloading
# GitHub release assets when they haven't changed. This improves
# performance and reduces load on GitHub servers.
# ------------------------------------------------------------------
{{ .CacheComment }}
